swallow.xcodeproj/project.xcworkspace/xcuserdata/yxx3tch.xcuserdatad/UserInterfaceState.xcuserstate
swallow.xcodeproj/xcuserdata/yxx3tch.xcuserdatad/xcschemes/Forecastone.xcscheme
swallow.xcodeproj/xcuserdata/yxx3tch.xcuserdatad/xcschemes/xcschememanagement.plist
